 
@font-face {
    font-family: 'Aero Matics';
    src: url('../fonts/AeroMaticsBold.woff2') format('woff2'),
        url('../fonts/AeroMaticsBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
	font-size: 62.5%;
}

body{
	
	font-family: 'Montserrat', sans-serif;
	margin:0;
	font-size: 1.4rem;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

h1{
	font-weight: 300;
	font-size: 5rem;
	color: #FFF;
}

h2{
	color:#3b4954;
	font-weight: 300;
	font-size: 3.3rem;
}

h3{
	color:#FFF;
	font-weight: 300;
	font-size: 1.5rem;
}

h4{
	color:#000000;
	font-size: 2rem;
	font-weight: 400;

}

p{
	font-weight: 400;
	font-size: 1.4rem;
	color:#55616b;
	line-height: 2rem;
	margin: 0;
}

button:focus {
    outline: none;
}


   /************************************/
  /********* 1 Header top css *********/
 /************************************/

.header-top-section {
	background:#000;
}

.header-top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-top-left {}

.header-top-left h3 {
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
}

.header-top-right {
	display: flex;
	align-items: center;
}

.currency {
	position: relative;
}

.currency-name select{
	 
}

.currency-name {
  position: relative;
}

.currency select:focus {
	
}  

.currency::after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	color: #fff;
	left: 63px;
	top: 4px;
	position: absolute;
	pointer-events: none;
}
select::-ms-expand {
display: none;
}

.currency select {
	appearance: none;
	display: block;
	font-size: 16px;
	line-height: 1.75;
	background-image: none;
	border: none;
	background: transparent;
	border: none;
	color: #fff;
	text-transform: uppercase;
	width: 8rem;
}

.currency select:focus{
	background: #8dc740;
	
}



.currency-icon-one {
	margin-right: 1rem;
	position: relative;
}

 
.currency-icon-one a {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}

.currency-icon-one a:hover{
	color:#8dc740;
}



.country {
	position: relative;

}


.country-icon-two {
	padding: 1rem 0;
	padding-left: 1rem;
}

.country-icon-two a {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	transition: .3s;
}

.country-icon-two a:hover{
	color:#8dc740;
}

.country-icon-two a img {
	margin-right: 1rem;
}

.country-icon-two a i {
	margin-left: 1rem;
}

.country-list ul{
	display: none;
}



.country-icon-two:hover > .country-list ul{
	display: block;
	position: absolute;
	width: 100%;
	top: 39px;
	left: 0;
	background: #8dc740;
	border-radius: 0px 3px;
	z-index: 11;
}

.country-icon-two:hover i {
	transform: rotate(181deg);
	transition: .5s;
}

.country-icon-two i{
	transition: .5s;
}

.country-list ul{}

.country-list ul li a {
	font-size: 14px;
}

.country-list ul li a:hover {
	 color:#000;
}

   /************************************/
  /********* 2 Header  css ************/
 /************************************/


.header-section {
	background: #232323;
	padding: 1rem 0;
}

/************** Header area 1 *****************/
.header-area-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 0;
}

.header-area-1-left{}

.header-area-1-left ul,
.header-area-1-right ul {
	display: flex;
	align-items: center;
}

.header-area-1-left ul li,
.header-area-1-right ul li {
	margin-right: 2rem;
}

.header-area-1-left ul li:last-child,
.header-area-1-right ul li:last-child {
	margin-right: 0;
}

.header-area-1-left ul li:last-child a,
.header-area-1-right ul li:last-child a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.header-area-1-left ul li a, .header-area-1-right ul li a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	transition: .3s;
}

.header-area-1-left ul li a:hover,
.header-area-1-right ul li a:hover{
	color:#8dc740;
}

.header-area-1-left ul li a i, .header-area-1-right ul li a i {
	margin-right: 1rem;
}

.header-area-1-right {}

.header-area-1-right ul {}

.header-area-1-right ul li{}

.header-area-1-right ul li a{}

/*Header area 2 css */

.header-area-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
}

.header-area-2-left {}

.header-area-2-left ul {
	display: flex;
	 
}

.header-area-2-left ul li{}

.header-area-2-left ul li a {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

 

.header-area-2-left ul li a:hover i{
	color:#8dc740;
}
.header-area-2-left ul li a:hover {
	color:#8dc740;
}

.header-area-2-left ul li a:hover p{
	color:#8dc740;
}

.header-area-2-left ul li a i {
	transform: rotate(103deg);
	color: #ffff;
	font-size: 17px;
	margin-right: .5rem;
}
.header-area-2-left ul li a p {
	font-weight: 300;
	margin-left: 3rem;
	color: #fff;
}

.header-area-2-middle{}

.header-area-2-logo img{}

.header-area-2-right {
	display: flex;
	align-items: center;
}

.header-area-2-category {}


.header-area-2-search, .search-box-hidden {
	position: relative;
}

.header-area-2-search-bar, .search-box-hidden-bar {
	width: 20.5rem;
}

.header-area-2-search-bar input[type="search"], .search-box-hidden-bar input[type="search"] {
	width: 100%;
	background: transparent;
	border: none;
	border: 1px solid aliceblue;
	border-left: none;
	height: 3rem;
	font-size: 1.6rem;
	color: #696969;
	padding: .7rem .7rem;
	box-sizing: border-box;
	font-weight: 300;
}

.search-box-hidden-bar input[type="search"]{
	background: #ffff;
	border:1px solid #8dc740;
}

.header-area-2-search-bar button, .search-box-hidden-bar button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	font-size: 16px;
}

.search-box-hidden-bar button{
	right: -186px;
}

.header-area-2-search-bar button a, .search-box-hidden-bar button a{
	color:#fff;
}

.search-box-hidden-bar button a{
	color:#8dc740;
}

.header-area-2-search-bar button a i, .search-box-hidden-bar button a i {
	line-height: 31px;
}

.selectdiv {
  position: relative;
}

.selectdiv::after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	color: #fff;
	left: 153px;
	top: 5px;
	position: absolute;
	pointer-events: none;
}
select::-ms-expand {
display: none;
}

.selectdiv select {
	appearance: none;
	display: block;
	font-size: 16px;
	line-height: 1.75;
	background-image: none;
	border: none;
	height: 3rem;
	background: #8dc740;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding-right: 3rem;
	padding-left: 1rem;
}

.selectdiv .option:hover{
	color:red;
	background: gray;
}

/*header area-3 css*/

.header-area-3{}

.menu {
	padding-top: 1rem;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul li {}

.menu ul li a {
	font-size: 1.6rem;
	color: #fff;
	font-weight: 700;
	margin: .5rem 1rem;
	position: relative;
	padding-bottom: .5rem;
	transition: .3s;
}

.menu ul li a::before {
	content: "";
	position: absolute;
	width: 80%;
	border-bottom: 2px solid transparent;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.menu ul li a:hover{
	color:#8dc740;
}

.menu ul li a:hover:before{
	border-color: #8dc740;
}


   /************************************/
  /************ 3 Add  css ************/
 /************************************/
.add-section .row {
	align-items: center;
	padding: 3rem 0;
}

.add-area {
	background: #181818;
	padding: 3rem 1rem;
}
.close-button {
	float: right;
	margin-right: 1rem;
}

.close-button a {
	width: 3rem;
	height: 3rem;
	background: #8dc740;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	border-radius: 50%;
	transition: .5s;
	cursor: pointer;
} 

.close-button a i{
	transition: 
}

.close-button a:hover{
	background: #fff;
	color:#000;
}

.close-button a:hover i{
	transform: rotate(180deg);
	transition: .5s;
}

.close-button a i{
	transition: .5s;
}

.add-main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-left {}

.add-left h3{}

.add-left h1 {
	font-size: 3rem;
	font-weight: 600;
}

.add-middle{}

.add-button {}

.add-button a {
	color: #fff;
	font-size: 1.6rem;
	padding: 1.5rem 2rem;
	background: #8dc740;
	font-weight: 600;
	transition: .4s;
}

.add-button a:hover{
	background: #fff;
	color:#000;
}

.add-right {}

.count-up {}

.count-up ul {
	display: flex;
	align-items: center;
}

#getting-started {
	display: flex;
	justify-content: center;
	align-items: center;
}

.count {
	background: #8dc740;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	margin-right: 1rem;
	border:5px solid #bbdc8d;
}

.count:last-child{
	margin-right: 0;
}

.line-height{
	 transform: translateY(15px);
}
.count h1{
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
 

}

.count h3{
	text-align: center;
	font-size: 1.6rem;
	font-weight: 400;

}


   /************************************/
  /********* 4 slide  css *************/
 /************************************/

.slide-section {
	margin-top: .5rem;
}

.slide-area{
	background: url('../../assets/img/bg/bg1.jpg')no-repeat scroll 0 0/cover;
}

.slide-main-content {
	position: relative;
}

.slide-main-content::after {
	content: "";
	position: absolute;
	background: rgb(0,0,0,.5);
	width: 100%;
	top:0;
	left: 0;
	height: 100%;
}

.slide-content {
	text-align: center;
	padding: 14rem 0;
	position: relative;
	z-index: 11;
}

.slide-content h1 {
	font-size: 4.8rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.slide-content h3 {
	font-size: 1.6rem;
	font-weight: 300;
	margin-bottom: 5rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.slide-button {
	margin-bottom: 2rem;
}

.slide-button a{
	color: #fff;
	font-size: 1.6rem;
	padding: 1.5rem 2rem;
	background: #8dc740;
	font-weight: 600;
	transition: .4s;
} 

.slide-button a:hover{
	background: #000;
	color:#fff;
}

.slide-carousel.owl-theme .owl-dots .owl-dot span {
	width: 4rem;
	border-radius: 0;
	height: .7rem;
}

.slide-carousel.owl-theme .owl-dots .owl-dot.active span{
	background: #8dc740;
}

.slide-carousel.owl-theme .owl-dots .owl-dot:hover span{
	background: #000;
}


   /************************************/
  /********5 specalist add  css *******/
 /************************************/

.specalist-area {
	margin-top: 1rem;
}

.specalist-content:last-child {
	margin-bottom: 0;
}
 

.specalist-content {
	background: #ebebeb;
	text-align: center;
	padding: 1rem;
	margin-bottom: .5rem;
}

.specalist-content i {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.specalist-content:nth-child(1) i{
	
} 

.specalist-content:nth-child(2) i{

} 

.specalist-content h2 {
	font-size: 18px;
	font-weight: 600;
	color:#303030;
	text-transform: uppercase;
}

.specalist-content h3 {
	font-size: 1.6rem;
	font-weight: 300;
	color:#565656;
}

.specalist-add-are {
	column-count: 2;
	margin-top: 1rem;
}
.specalist-add-content {
	position: relative;
}

.specalist-add-content-image {
	margin-bottom: 1rem;
}

.specalist-add-content-image {
	width: 100%;
	height: 100%;
}

.specalist-add-content-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.specalist-add-content-image-content {
	position: absolute;
	width: 90%;
	height: 85%;
	top: 16px;
	left: 0;
	border: 1px solid #fff;
	right: 0;
	margin: auto;
}

.specalist-add-content-image-content h1 {
	font-size: 3.5rem;
	font-weight: 700;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: end;
}

.specalist-add-content-image-content h1 {
	font-size: 3.5rem;
	font-weight: 700;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: end;
	margin-right: 1rem;
}

.specailist-content-2 h1 {
	top: 0;
	right: 0;
	text-align: end;
	margin-right: 1rem;
}


   /************************************/
  /********6 fresh arival css *********/
 /************************************/

.fresh-new-arival{}

.fresh-new-arival-title {
	text-align: center;
	padding-top: 4rem;
}

.fresh-new-arival-title h1 {
	font-size: 3rem;
	color: #8dc740;
	font-weight: 700;
}

.fresh-new-arival-title p{
	font-size: 1.8rem;
	color:#6e6e6e;
	font-weight: 400;

}

.fresh-new-arival-area {
	margin: 2rem 0;
}

.fresh-new-arival-content {
	margin-bottom: 2rem;
}

.fresh-new-arival-content {
	margin-bottom: 2rem;
}

.fresh-new-arival-content-image {
	width: 100%;
	height: 33rem;
	position: relative;
	overflow: hidden;
}

.fresh-new-arival-content-image img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.fresh-new-arival-content-image:hover .fresh-new-arival-overly-content{
	visibility: visible;
	top:0;
	opacity: 1s;
	left: 0;

}


/*overly content*/
.fresh-new-arival-overly-content {
	position: absolute;
	width: 100%;
	top: 0;
	left: -100%;
	background: #393838b3;
	height: 100%;
	visibility: hidden;
	transition: .3s;
	overflow: hidden;
}

.fresh-new-arival-overly-content span {
	position: relative;
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fresh-new-arival-overly-content span::before {
	content: "";
	position: absolute;
	width: 15rem;
	height: 2px;
	background: #fff;
}


.fresh-new-arival-overly-content span::after {
	content: "";
	position: absolute;
	width: 15rem;
	height: 2px;
	background: #fff;
	transform: rotate(90deg);
}

.fresh-new-arival-overly-content ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overly-li-position{

}

.fresh-new-arival-overly-content ul li:nth-child(1) {
	position: absolute;
	top: 126px;
	left: 101px;
}

.fresh-new-arival-overly-content ul li:nth-child(2) {
	position: absolute;
	top: 127px;
	right: 101px;
}


.fresh-new-arival-overly-content ul li:nth-child(3) {
	position: absolute;
	bottom: 128px;
	left: 21px;
}

.fresh-new-arival-overly-content ul li:nth-child(4) {
	position: absolute;
	bottom: 127px;
	right: 101px;
}

.fresh-new-arival-overly-content ul li a {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
}

.fresh-new-arival-overly-content ul li a i{
	font-size: 2rem;
}

.fresh-new-arival-overly-content ul li a:hover{
	color:#8dc740;
}

.fresh-new-arival-text{}

.star{
	margin: 1rem 0;
}

.star span{
	color:#dc9813;
}

.fresh-new-arival-text-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fresh-new-arival-text-content h1 {
	font-size: 1.6rem;
	color: #616161;
	font-weight: 400;
}

.fresh-new-arival-text-content ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fresh-new-arival-text-content u li {

}

.fresh-new-arival-text-content ul li:first-child {
	font-size: 1.8rem;
	font-weight: 700;
	margin-right: 1rem;
}

.fresh-new-arival-text-content ul li:last-child{
	font-size: 1.6rem;
	font-weight: 400;
}

.fresh-new-arival-area.owl-carousel .owl-nav span {
	font-size: 5rem;
	line-height: 32px;
	color: #000;
	background: #fff;
}

.fresh-new-arival-area.owl-carousel .owl-nav span:hover{
	background: #8dc740;
	color:#fff;
}

.fresh-new-arival-area.owl-carousel .owl-nav button.owl-prev span {
	position: absolute;
	top: 141px;
	left: 0;
	width: 4rem;
	height: 4rem;
}

.fresh-new-arival-area.owl-carousel .owl-nav button.owl-next span {
	position: absolute;
	top: 141px;
	right: 0;
	width: 4rem;
	height: 4rem;
}


   /************************************/
  /********7    add css       *********/
 /************************************/

.add-3-section {}

.add-3-section .row {
	 --bs-gutter-x: 0rem;
}

.add-3-content {}

.add-3-content-image {
	position: relative;
	width: 100%;
	height: 100%;
}

.add-3-content-image-overly{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.41);
	clip-path: polygon(0 0, 0% 100%, 53% 100%);

	top: 0;
	left: 0;
	
}
.add-3-content-image-overly-two {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.41);
	clip-path: polygon(0 0, 0% 100%, 53% 100%);

	top: 0;
	right: 0;
	transform: rotate(180deg);
}
 

.add-3-content-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.add-3-biggest-discount {
	padding: 7.2rem 0rem;
	background: #000;
	text-align: center;
}
.add-3-biggest-discount h1 {
	font-size: 3.6rem;
	font-weight: 700;
	color: #8dc740;
	text-transform: uppercase;
}

.discount-button {
	margin: 2rem 0;
}

.discount-button a {
	padding: 1.5rem 2rem;
	background: #8dc740;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
}

.discount-button a:hover{
	background: #fff;
	color:#000;
}



   /************************************/
  /******** 8    latest css ***********/
 /************************************/

.latest-products-title {
	text-align: center;
	padding: 5rem 0;
}

.latest-products-title h1 {
	font-size: 3rem;
	font-weight: 700;
	color: #8dc740;
}

.latest-products-title p {
	color: #6e6e6e;
	font-size: 1.6rem;
	font-weight: 400;
}

.latest-content-area{
	position: relative;
}

/*latest product overly */

.latest-product-content-image{
	width: 100%;
	height: 33rem;
	position: relative;
	overflow: hidden;
}

.latest-product-content-image:hover .latest-product-overly{
	visibility: visible;
	top:0;
	opacity: 1;
	right: 0;
}

.latest-product-overly{
	position: absolute;
	width: 100%;
	top: 0;
	right: -100%;
	background: #393838b3;
	height: 100%;
	visibility: hidden;
	transition: .3s;
	overflow: hidden;
}

.latest-product-overly {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: -100%;
	background: #393838b3;
	height: 100%;
	visibility: hidden;
	transition: .3s;
	overflow: hidden;
}

.latest-product-overly span {
	position: relative;
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.latest-product-overly span::before {
	content: "";
	position: absolute;
	width: 15rem;
	height: 2px;
	background: #fff;
}


.latest-product-overly span::after {
	content: "";
	position: absolute;
	width: 15rem;
	height: 2px;
	background: #fff;
	transform: rotate(90deg);
}

.latest-product-overly ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.latest-product-overly ul li:nth-child(1) {
	position: absolute;
	top: 126px;
	left: 101px;
}

.latest-product-overly ul li:nth-child(2) {
	position: absolute;
	top: 127px;
	right: 101px;
}


.latest-product-overly ul li:nth-child(3) {
	position: absolute;
	bottom: 128px;
	left: 21px;
}

.latest-product-overly ul li:nth-child(4) {
	position: absolute;
	bottom: 127px;
	right: 101px;
}

.latest-product-overly ul li a {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
}

.latest-product-overly ul li a i{
	font-size: 2rem;
}

.latest-product-overly ul li a:hover{
	color:#8dc740;
}

/*latest product overly*/


.latest-product-carousel.owl-carousel .owl-nav span:hover{
	background: #8dc740;
	color:#fff;
}

.latest-product-carousel.owl-carousel .owl-nav button.owl-prev span {
	position: absolute;
	top: -41px;
	left: 0;
	width: 4rem;
	height: 4rem;
}

.latest-product-carousel.owl-carousel .owl-nav button.owl-next span {
	position: absolute;
	top: -41px;
	right: 0;
	width: 4rem;
	height: 4rem;
}

.latest-product-carousel.owl-carousel .owl-nav span {
	font-size: 5rem;
	line-height: 32px;
	color: #000;
	background: #ebebeb;
}

.column-count-latest-product{
	column-count: 4;
}


   /************************************/
  /***9   hot deals best sellar *******/
 /************************************/

.hot-deals-best-sellar-section{}

.hot-deals-title {
	text-align: center;
	padding: 3rem 0;
}

.hot-deals-title h1 {
	font-size: 3rem;
	color: #8dc740;
	font-weight: 700;
}

.hot-deals-title h3 {
	font-size: 1.6rem;
	color: #6e6e6e;
}

.hot-deals-area {
	display: flex;
}

.hot-deals-image {
	width: 100%;
	height: 40rem;
	overflow: hidden;
}

.hot-deals-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.best-sellar-product-area {}

.best-sellar-product{}

.best-sellar-product-image {
	width: 100%;
	height: 33rem;
	overflow: hidden;
}

.best-sellar-product-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	 
}

.best-sellar--product-star {
	margin: 1rem 0;
}

.best-sellar--product-star span {
	color: #dc9813;
}

.best-sellar-product-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.best-sellar-product-details h1{
	font-size:1.4rem;
	color:#767676;
}

.best-sellar-product-details ul {
	display: flex;
	align-items: center;
}

.best-sellar-product-details ul li:first-child {
	font-size: 1.6rem;
	font-weight: 700;
	margin-right: 1rem;
}

.best-sellar-product-details ul li:last-child {
	font-size: 1.4rem;
	font-weight: 400;
}


/*hot deals count down*/

.hot-deals-count-down{

}

.hot-count-down-area {
	background: #252525;
	padding: 0 3rem;
}

#hot-count-down {
	padding: 3rem 0;
}

.hot-count-down-star {}

.hot-count-down-star span{
	color:#dc9813;
}

.hot-count-down-details {}

.hot-count-down-details h1 {
	font-size: 1.6rem;
	font-weight: 400;
	margin: 1rem 0;
}

.hot-count-down-details ul{
	display: flex;
	align-items: center;
}

.hot-count-down-details ul li{}

.hot-count-down-details ul li:first-child {
	color: #fff;
	margin-right: 1rem;
	font-size: 1.8rem;
	font-weight: 700;
}

.hot-count-down-details ul li:last-child {
	color: #646464;
	font-size: 1.6rem;
	font-weight: 400;
}

.hot-deals-count-down {
	display: flex;
	align-items: center;
	 
}

.hot-deals-first{
	width: 7rem;
	height: 7rem;
	background: #ebebeb;
	margin-right: 2rem;
}
.hot-deals-count-down .hot-deals-first:last-child{
	margin-right: 0;
}

.hot-deals-line-height{
	transform: translateY(16px);
}

.hot-deals-first h1{
	color:#252525;
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .5rem;
	border-bottom: 1px solid #252525;
	 

}

.hot-deals-first h3{
	color:#252525;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.hot-deals-second {
	margin-top: 2rem;
}


.best-sellar-product-area.owl-carousel .owl-nav span:hover{
	background: #8dc740;
	color:#fff;
}

.best-sellar-product-area.owl-carousel .owl-nav button.owl-prev span {
	position: absolute;
	top: 142px;
	left: 0;
	width: 4rem;
	height: 4rem;
}

.best-sellar-product-area.owl-carousel .owl-nav button.owl-next span {
	position: absolute;
	top: 142px;
	right: 0;
	width: 4rem;
	height: 4rem;
}

.best-sellar-product-area.owl-carousel .owl-nav span {
	font-size: 5rem;
	line-height: 32px;
	color: #000;
	background: #ebebeb;
}


   /************************************/
  /********** 10 Add-4 ****************/
 /************************************/

.add-4-section {
	padding-top: 3rem;
}

.add-left-4-image {
	position: relative;
	width: 100%;
	height: 100%;
}

.add-left-4-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.add-4-left-overly-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	clip-path: polygon(27% 0, 100% 0%, 100% 100%, 5% 100%);
	background: rgb(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-4-left-overly-details {
	width: 60%;
	text-align: center;
	margin-left: 6rem;
}

.add-4-left-overly-details h1{
	font-size: 3rem;
	font-weight: 700;
}

.add-4-shop-button {
	margin-top: 3rem;
}

.add-4-shop-button a{
	padding: 1.5rem 2rem;
	background: #8dc740;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	color:#fff;
	transition: .5s;

}

.add-4-shop-button a:hover{
	background: #fff;
	color:#000;
}

.add-right-4-image {
	width: 100%;
	height: 100%;
	position: relative;
}

.add-right-4-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
 

.add-right-4-overly-content {
	position: absolute;
	width: 90%;
	height: 82%;
	top: 30px;
	left: 0;
	margin: auto;
	right: 0;
	border: 1px solid #8d8780;
}

.add-right-4-overly-details {
	position: absolute;
	left: 0;
	bottom: 0;
}

.add-right-4-overly-details h1 {
	font-size: 3rem;
	font-weight: 700;
	width: 50%;
	margin-bottom: 2rem;
	margin-left: 1rem;
}


   /************************************/
  /********* 11 Trendy-feature*********/
 /************************************/

.tredny-and-feature-item-section {
	padding: 3rem 0;
}

.trendny-owl-carousel {}

.trendy-title, .feature-title {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.trendy-title h1, .feature-title h1{
	font-size: 3rem;
	font-weight: 700;
	color:#8dc740;
}

.trendy-title h3, .feature-title h3{
	font-size: 1.6rem;
	font-weight: 400;
	color:#c5c5c5;
}



.trendny-owl-carousel.owl-carousel .owl-nav span:hover{
	background: #8dc740;
	color:#fff;
}

.trendny-owl-carousel.owl-carousel .owl-nav button.owl-prev span {
	position: absolute;
	top: 142px;
	left: 0;
	width: 4rem;
	height: 4rem;
}

.trendny-owl-carousel.owl-carousel .owl-nav button.owl-next span {
	position: absolute;
	top: 142px;
	right: 0;
	width: 4rem;
	height: 4rem;
}

.trendny-owl-carousel.owl-carousel .owl-nav span {
	font-size: 5rem;
	line-height: 32px;
	color: #000;
	background: #ebebeb;
}

.feature-content{
	column-count: 2;
}

.feature-image{
	margin-bottom: .7rem;
}

.feature-image:nth-child(3n+3) {
	margin-bottom: 0;
}

.feature-image {
	display: flex;
}

.feature-image img{}


.feature-sub-content {
	margin-left: 1rem;
}

.feature-sub-content h2 {
	font-size: 1.4rem;
	color: #616161;
	margin-bottom: .5rem;
}


.feature-star {
	margin: .5rem 0;
}

.feature-star span{
	color:#dc9813;
}

.feature-price {
	display: flex;
	align-items: center;
	margin-bottom: .5rem;
}

.feature-price h3 {
	font-size: 1.8rem;
	font-weight: 700;
	color: #212121;
}

.feature-price h4 {
	font-size: 1.6rem;
	font-weight: 400;
	margin-left: 1rem;
}

.feature-button {
	padding: 1rem 0; 
}

.feature-button a {
	padding: 1rem 1rem;
	background: #8dc740;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.feature-button a:hover{
	background: #000;
	color:#fff;
}

.feature-owl-carousel.owl-carousel .owl-nav span:hover{
	background: #8dc740;
	color:#fff;
}


.feature-owl-carousel.owl-carousel .owl-nav button.owl-prev span {
	position: absolute;
	top: -42px;
	left: 0;
	width: 4rem;
	height: 4rem;
}


.feature-owl-carousel.owl-carousel .owl-nav button.owl-next span {
	position: absolute;
	top: -42px;
	right: 0;
	width: 4rem;
	height: 4rem;
}


.feature-owl-carousel.owl-carousel .owl-nav span {
	font-size: 5rem;
	line-height: 32px;
	color: #000;
	background: #ebebeb;
}


   /************************************/
  /********* 12 Trendy-feature*********/
 /************************************/
.news-blog-section {}

.news-blog-title{
	margin-bottom: 3rem;
	text-align: center;
}

.news-blog-title h1{
	font-size: 3rem;
	font-weight: 700;
	color:#8dc740;
}

.news-blog-title h2{}

.news-blog-content {}

.news-blog-image {
	position: relative;
	width: 100%;
	height: 100%;
}

.news-blog-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.news-overly-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.39);
}

.news-overly-content h1 {
	font-size: 1.8rem;
	font-weight: 300;
	padding: 2rem 0;
	padding-left: 1rem;
}

.news-blog-details {}

.news-blog-details h1{
	font-size: 1.8rem;
	font-weight: 700;
	margin: 1rem 0;
}

.news-blog-details h1 a{
	color: #8dc740;
}

.news-blog-details h1 a:hover{
	color:#6d6d6d;
}

.news-blog-details h3 {
	color: #6d6d6d;
	font-size: 1.6rem;
	font-weight: 300;
}

.news-blog-details ul{
	margin: 1rem 0;
}

.news-blog-details ul li a {
	font-size: 1.8rem;
	color: #a0d062;
	font-weight: 300;
}


.news-blog-details ul li a:hover{
	color:#6d6d6d;
}

.news-blog-details ul li:last-child{
	margin-left: 1rem;
}

   /************************************/
  /********* 13 Brand css *************/
 /************************************/

.brand-section {
	padding: 3rem 0;
}

.brand-title{
	text-align: center;
	margin-bottom: 3rem;
}

.brand-title h1{
	color:#8dc740;
	font-size: 3rem;
	font-weight: 700;
}

.brand-title h2{
	color:#6e6e6e;
	font-size: 1.6rem;
	font-weight: 400;
}

.brand-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand-logo {
	width: 10rem;
	height: 10rem;
	margin: 0 auto;
}

.brand-logo img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.brand-logo ul {
	display: flex;
	align-items: center;
}
 
.brand-area.owl-carousel .owl-nav span {
	font-size: 5rem;
	line-height: 32px;
	color: #000;
	background: #8dc740;
	width: 4rem;
	display: inline-block;
	height: 4rem;
}

.brand-area.owl-carousel .owl-nav span:hover{
	background: #ebebeb;
	color:#000;
} 


   /************************************/
  /********* 14 Footer css ************/
 /************************************/

.footer-section {
	background: #232323;
	padding: 3rem 0;
}

.footer-follow-newsletter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 3rem;
	border-bottom: 1px solid #a1a1a1;
}

.follow-us h2 {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 400;
	color: #8dc740;
	margin-bottom: 1rem;
}

.follow-us ul {
	display: flex;
	align-items: center;
}

.follow-us ul li{
	margin-right: 1rem;

}

.follow-us ul li:last-child{
	margin-right: 0;
}

.follow-us ul li a {
	width: 4rem;
	display: inline-block;
	height: 4rem;
	font-size: 2rem;
	color: #8dc740;
	border: 1px solid #6e6e6e;
	text-align: center;
	position: relative;
	overflow: hidden;

}

.follow-us ul li a:before {
  content: "";
  position: absolute;
  bottom:-100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
  visibility: hidden;
}

.follow-us ul li a:hover:before {
  bottom:0;
  visibility: visible;
}


.follow-us ul li a i {
	line-height: 41px;
	transition: .5s;
	z-index: 99;
	position: relative;
}

.follow-us ul li:nth-child(1) a:before{
  background: #3b5999;
}

.follow-us ul li:nth-child(2) a:before{
  background: #55acee;
}

.follow-us ul li:nth-child(3) a:before {
  background: #0077b5;
}

.follow-us ul li:nth-child(4) a:before {
  background: #dd4b39;
}

.newsletter {
	display: flex;
	align-items: center;
}

.newsletter h2 {
	font-size: 1.8rem;
	color: #8dc740;
	margin-right: 3rem;
}

.subscribe {
	width: 51rem;
	position: relative;
}

.subscribe input[type="email"] {
	width: 100%;
	padding: 1rem 1rem;
	font-size: 1.6rem;
	background: transparent;
	border: 1px solid #6e6e6e;
	color: #6e6e6e;
}

.subscribe button {
	position: absolute; 
	top: 0;
	right: 0;
	border: none;
	font-size: 1.6rem;
	color: #ebf5e1;
	background: #8dc740;
	padding: 1.1rem 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.follow-us ul li a:hover i {
	transform: rotate(360deg);
	color: #fff;
}

/*Footer middle area*/
.footer-middle-area {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.footer-list ul{
	margin-top: 3rem;
}

.footer-list ul li a{
	color: #bdbdbd;
	font-size: 1.6rem;
	font-weight: 400;
}

.footer-list ul li a:hover{
	color:#8dc740;
}

.about {}

.about h1, .customer h1, .payment h1, .contact h1 {
	font-size: 1.7rem;
	color: #8dc740;
	font-weight: 700;
}

.about, .customer, .payment, .contact{
	margin-top: 2rem;
}

/*Footer bottom area*/

.footer-bottom-are {
	background: #1f1f1f;
	padding: 3rem 0;
}

.footer-bottom-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {}

.copyright h4 {
	font-size: 1.5rem;
	color: #ffffff;
}

.copyright span a{
	color: #8dc740;
}

.footer-menu ul {
	display: flex;
	align-items: center;
}
.footer-menu ul{}

.footer-menu {}

.footer-menu ul li {
	margin-right: .5rem;
}

.footer-menu ul li:last-child{
	margin-right: 0;
}

.footer-menu ul li a {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
}

.footer-menu ul li a:hover{
	color:#8dc740;
}

.footer-bottom-payment {}

.footer-bottom-payment ul {
	display: flex;
	justify-content: end;
	align-items: center;
}

.footer-bottom-payment ul li {
	margin-right: .5rem;
}

.footer-bottom-payment ul li:last-child{
	margin-right: 0;
}

.footer-bottom-payment ul li a {
	font-size: 4rem;
	color: #fff;
}

.footer-bottom-payment ul li a:hover {
	color: #8dc740;
}


.scrolltop {}

.scrollbtn {
	display: none;
	position: fixed;
	bottom: 127px;
	right: 71px;
	width: 4rem;
	height: 4rem;
	background: #8dc740;
	font-size: 2.5rem;
	color: #fff;
	line-height: 42px;
	text-align: center;
	transition: 5s;
	z-index: 9999;
}

.scrollbtn:hover{
	color:#fff;
	 
}

.header-area-2-search {
	display: none;
}

.icon-search-bar {
	display: none;
}

.search-box-hidden{
	display: none;
}


   /************************************/
  /********* Shop page css ************/
 /************************************/

   /************************************/
  /********* 1.shop-page-title ********/
 /************************************/

.shop-page-title{}

.shop-page-title-area{
	background:url('../../assets/img/shop/bg.jpg')no-repeat scroll 0 0 /cover;
	position: relative;
}

.shop-page-title-area::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
}

.shop-page-title-content {}

.shop-page-title-content {
	position: relative;
	z-index: 9;
}

.shop-page-title-content h1 {
	font-size: 5rem;
	font-weight: 700;
	padding: 10rem 0;
	color: #fff;
	margin-left: 5rem;
	text-transform: uppercase;
	max-width: 300px;
}

.shop-header-section {
	padding: 3rem 0;
}

.shop-header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shop-header-content h4 {
	font-size: 1.6rem;
	color: #616161;
	font-weight: 400;
}

.shop-header-content h4 span {
	color: #8dc740;
}

.short {
	display: flex;
	align-items: center;
	 
}

.view {} 

.short h4 {
	color: #8b8b8b;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 400;
}

.shop-short select:focus {
	 background: none; 
}

.shop-short select{
	color:#8dc740;
}

.shop-short::after {
	color: #767676;
}

.shop-short {
	margin-left: 2rem;
}

.view ul{
	display: flex;
	justify-content: space-between;
}

.view ul li {
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #a5a5a5;
}

.view ul li a {
	color: #969696;
	margin-left: 2rem;
}

.view ul li a:hover{
	color:#8dc740;
}

.shop-header-left-side {
	column-count: 3;
	padding-top: 2rem;
}
 
.fresh-new-arival-content {
	overflow: hidden;
} 

.shop-right-area{}

.shop-category {
	margin-bottom: 2rem;
}

.category-list {
	padding-bottom: 2rem;
	border-bottom: 1px solid #dddddd;
}

.shop-category h3 {
	color: #8dc740;
	font-size: 1.8rem;
	font-weight: 600;
	padding-bottom: 2rem;
	border-bottom: 1px solid #dddddd;
	margin-top: .5rem;
}

.accordion {
	color: #252525;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	transition: 0.4s;
	background: none;
	font-weight: 300;
}

.accordion.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #252525;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel ul {}

.panel ul li {
	margin:.5rem 0;
}

.panel ul li a{
	color:#818181;
}

.panel ul li a span {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: #616161;
	border-radius: 50%;
	margin-right: 1rem;
}

.panel ul li a:hover{
	color:#95cb4d;
}

.filter-selection{}

.filter-selection h2{
	font-size: 1.8rem;
	font-weight: 600;
	color:#8dc740;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #dddddd;
}

.price-bar {
	padding-bottom: 3rem;
	border-bottom: 1px solid #dddddd;
}

.price-bar h4 {
	text-transform: uppercase;
	color: #7c7c7c;
	font-size: 1.6rem;
	font-weight: 400;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

/*Slider-Range*/
.ui-corner-all {
  border-radius: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-radius: 50%;
  background: #8dc740;
  border:none;
}

.ui-widget-header {
  background: #8dc740;
  border:none !important;
}

.ui-widget.ui-widget-content {
  border: none;
  background: #616161;
  height: 9px;
}
.slider-range{
  position: relative;
}


/*Color*/
.filter-color {}

.filter-color h1, .size-filter h1 {
	color: #8dc740;
	font-size: 1.8rem;
	margin: 2rem 0;
	text-transform: uppercase;
	font-weight: 600;
}

.color-category {
	padding: 3rem 0;
	border-bottom: 1px solid #b7b7b7;
	border-top: 1px solid #b7b7b7;
}

.color-category ul{
	display: flex;
}

.color-category ul li{
	margin-right: 6rem;
}

.color-category ul li:last-child{
	margin-right: 0;
}

.label{
	font-size: 20px;
	position: relative;
}

.checkbox, .checkbox1, .checkbox2, .checkbox3, .checkbox4{
	position: absolute;
	left: -999px;
}

.label::before {
	content: "";
	width: 30px;
	height: 30px;
	background: #ff0000;
	border: 2px solid #ddd;
	position: absolute;
	border-radius: 0;
	left: 0;
	display: inline-block;
	top: -17px;
}

.label1::before{
	content: '';
	background: #9e0b0f;
}

.label2::before{
	content: '';
	background: #92278f;
}

.label3::before{
	content: '';
	background: #ec008c;
}

.label4::before{
	content: '';
	background: #00aeef;
}

.label::after {
	background: transparent;
	color: #8dc740;
	content: "\2713";
	position: absolute;
	border-radius: 5px;
	left: 8px;
	display: inline-block;
	transform: scale(0);
	font-size: 2rem;
	top: -15px;
}
.checkbox:focus + .label:after{
	transform: scale(1);
}

.checkbox:focus + .label:before{
	border:5px solid #d7d7d7;
}	

.checkbox1:focus + .label:after{
	transform: scale(1);
}

.checkbox1:focus + .label:before{
	border:5px solid #d7d7d7;
}

.checkbox2:focus + .label:after{
	transform: scale(1);

}
.checkbox2:focus + .label:before{
	border:5px solid #d7d7d7;
}

.checkbox3:focus + .label:after{
	transform: scale(1);

}

.checkbox3:focus + .label:before{
	border:5px solid #d7d7d7;
}

.checkbox4:focus + .label:after{
	transform: scale(1);
}

.checkbox4:focus + .label:before{
	border:5px solid #d7d7d7;
}

/*size filter*/
.size-filter{}

.size-filter ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.size-filter ul li {
	position: relative;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #626262;
	border: 1px solid #d7d7d7;
	margin-right: 2rem;
	width: 4rem;
	height: 4rem;
	border-radius: 3px;
	text-align: center;
	line-height: 39px;
	cursor: pointer;
}
.size-filter ul li:last-child{
	margin-right: 0;
}


.size-filter ul li:hover::before{
	content:" ";
	position: absolute;
	border:5px solid #b7b7b7;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}
 

.manufacture-list{}

.manufacture-list h1, .tag-list h1{

	color: #8dc740;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.manufacture-list ul {
	padding: 2rem 0;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}

.manufacture-list ul li {
	font-size: 1.6rem;
	color: #585858;
	margin-bottom: 1.5rem;
}

.manufacture-list ul li span {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: #252525;
	border-radius: 50%;
	margin-right: 1rem;
}

.manufacture-list ul li:last-child{
	margin-bottom: 0;
}

.tag-list{}

.tag-list ul {
	padding:3rem 0;
	border-bottom:1px solid #dddddd;
	border-top:1px solid #dddddd;
}

.tag-list ul li {
	display: inline-block;
	margin-bottom: .7rem;
	 
}

.tag-list ul li:nth-child(8){
	margin-bottom: 0;

}

.tag-list ul li:nth-child(9){
	margin-bottom: 0;
	
}

.tag-list ul li:nth-child(10){
	margin-bottom: 0;
	
}

.tag-list ul li a {
	font-size: 1.6rem;
	display: inline-block;
	color: #616161;
	text-transform: uppercase;
	padding: .5rem .5rem;
	border: 1px solid #d7d7d7;
}

.tag-list ul li a:hover{
	color:#fff;
	background: #8dc740;
}


  /**********************************/
 /******Blog page responsive********/
/**********************************/

.blog-right-side {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.blog-item {
	column-count: 2;
}

.blog--page-content {
	margin-bottom: 3rem;
}

.right-blog-side-area{}

.right-blog-search h1, .right-blog-categories h1, .right-blog-recent-post h1, .right-blog-twitter-feed h1 {
	color: #8dc740;
	font-size: 1.6rem;
	font-weight: 600;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cccccc;
	text-transform: uppercase;
}

.right-blog-search-bar {
	width: 20rem;
	margin: 1.5rem 0;
}

.right-blog-search-bar input[type="search"] {
	width: 100%;
	height: 3.5rem;
	padding: 1rem 1rem;
	font-size: 1.6rem;
	font-weight: 400;
	border: 1px solid #e5e5e5;
	color:#616161;
}

.right-blog-categories {
	margin-bottom: 1rem;
}

.right-blog-categories h1 {
	padding-top: 1rem;
	border-top: 1px solid #cccccc;
	margin-bottom: 1rem;
}

.right-blog-categories-list {}

.right-blog-categories-list ul{}

.right-blog-categories-list ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .5rem;
}

.right-blog-categories-list ul li:last-child{
	margin-bottom: 0;
}

.right-blog-categories-list ul li a {
	color: #212121;
	font-size: 1.4rem;
	font-weight: 400;
	transition: .5s;
}

.right-blog-categories-list ul li a:hover{
	color:#8dc740;
}

.right-blog-recent-post {}

.right-blog-recent-post h1 {
	padding-top: 1rem;
	border-top: 1px solid #cccccc;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1rem;
}

.right-blog-recent-post-list {
	display: flex;
	margin-bottom: 1rem;
}

.right-blog-recent-post-list:last-child{
	margin-bottom: 0;
}

.right-blog-recent-post-img {
	width: 100%;
	height: 100%;
	margin-right: 1rem;
}

.right-blog-recent-post-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.right-blog-recent-post-content h3 a{
	color: #8dc740;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: .5rem;
}

.right-blog-twitter-feed h1 {
	margin-top: 1rem;
}

.right-blog-recent-post-content span {
	color: #919191;
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: .5rem;
	display: block;
}

.right-blog-recent-post-content span i {
	margin-right: 1rem;
}

.archive-list {
	margin-top: 1rem;
	margin-bottom: 0;
	padding-bottom: 2rem;
	border-bottom: 1px solid #cccccc;
}

.right-blog-twitter-feed {
	padding-bottom: 1rem;
	border-bottom: 1px solid #cccccc;
}

.right-blog-twitter-feed h1 {
	margin-top: 1rem;
}

.right-blog-twitter-feed > p {
	font-size: 1.4rem;
	color: #c0c0c0;
	margin-top: .5rem;
}

.right-blog-twitter-feed a {
	font-size: 1.6rem;
	color: #8dc740;
	font-weight: 400;
}

.right-blog-twitter-feed-content {
	display: flex;
	align-items: center;
	margin-top: .5rem;
}

.twitter-feed-img {
	width: 50%;
	height: 100%;
	margin-right: 1rem;
}

.twitter-feed-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.twitter-feed-img-content {}

.twitter-feed-img-content h3 {
	color: #8dc740;
	font-size: 1.6rem;
	font-weight: 500;
}

.twitter-feed-img-content p{}

  /**********************************/
 /****** pagination css ************/
/**********************************/

.pagination-section{}

.blog-page-pagination {}

.blog-page-pagination ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.blog-page-pagination ul li {
	margin-right: 1rem;
	color:#8dc740;
}

.blog-page-pagination ul li span{
	width: 1rem;
	height: 1rem;
	display: block;
	background: #8dc740;
	border-radius: 50%;
	
}

.blog-page-pagination ul li:last-child{
	margin-right: 0rem;
}

.blog-page-pagination ul li a {
	width: 4rem;
	height: 4rem;
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	color: #8dc740;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #8dc740;
	line-height: 40px;
	transition: .5s;
}

.blog-page-pagination ul li a:hover{
	background: #8dc740;
	color:#fff;
}

/************************ Cart page css *****************/

  /**********************************/
 /****** Cart menu css *************/
/**********************************/


.cart-bar-section {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.cart-bar-menu {}

.cart-bar-menu ul {
	display: flex;
}

.cart-bar-menu ul li {
	text-align: center;
	flex: 0 0 33%;
	background: #252525;
}

.cart-bar-menu ul li a {
	padding: 1rem 0;
	display: block;
	font-size: 1.8rem;
	font-weight: 600;
	color: #e9e9e9;
	transition: .5s;
}

.cart-bar-menu ul li a:hover{
	background: #8dc740;
}


  /**********************************/
 /******** Table  css **************/
/**********************************/


.table tr {
	border-bottom: 1px solid #e5e5e5;
}

.table thead tr th {
	font-size: 1.6rem;
	font-weight: 600;
	color: #252525;
}

.table tbody, td, tfoot, th, thead, tr {
	border-color: inherit;
	border-style: none;
	border-width: 0;
}

.table tbody tr{

}

.table tbody tr td {
	display: table-cell;
	vertical-align: middle;
}

.cart-product-details {
	max-width: 157px;
}

.table tbody tr td .product-image {
	margin: 1rem 0;
}

.table tbody tr td .product-image img{}

.cart-product-details{}

.table tbody tr td h3 {
	color: #252525;
	font-size: 1.6rem;
	font-weight: 400;
}

.table tbody tr td p {
	color: #8c8484;
}

.table tbody tr td h3 span{}

.product-quantity {}

.product-quantity select {
	border: 1px solid #ebebeb;
	color:#646464;
}

.product-quantity::after {
	color: #ffff;
	left: 42px;
	background: #252525;
	height: 100%;
	top: 0;
	padding: 0 1rem;
	line-height: 26px;
}

.quantity-action {}

.quantity-action span {
	width: 3rem;
	height: 3rem;
	display: block;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	border: 1px solid #d7d7d7;
	color: #3e3e3e;
}

.extra-margin {

}

  /**********************************/
 /******** 3 button  css************/
/**********************************/

.continue-clear-update-button{}

.continue-clear-update-button ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.continue-clear-update-button {
	margin: 2rem 0;
}
.continue-clear-update-button ul li{}

.continue-clear-update-button ul li:last-child {
	margin-left: 2rem;
}

.continue-clear-update-button ul li a {
	padding: 1rem 1rem;
	color: #424242;
	border: 1px solid #cccccc;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	transition: .3s;
}

.continue-clear-update-button ul li a:hover{
	color:#8dc740;
}


  /**********************************/
 /******** discount  css************/
/**********************************/

.discount-section{}

.discount-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;
}

.discount-leftside{}

.discount-leftside h3 {
	color: #252525;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.discount-leftside ul{}

.discount-leftside ul li{}

.discount-inputbox{
	width: 30rem;
}

.discount-inputbox input[type="text"] {
	width: 100%;
	padding: .8rem;
	text-transform: uppercase;
	font-size: 1.6rem;
	color: #616161;
	font-weight: 300;
	border: 1px solid #cccccc;
	margin-bottom: 2rem;
}

.discount-inputbox input[type="submit"] {
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #424242;
	background: none;
	border: 1px solid #cccccc;
	padding: .5rem 2rem;
	font-weight: 600;
	transition: .5s;
}

.discount-inputbox input[type="submit"]:hover{
	color:#8dc740;
}

.discount-right {}

.discount-right ul{}

.discount-right ul li {
	
}

.discount-right ul li span {
	
}

.sub-total{
	color: #6e6e6e;
	font-size: 1.6rem;
	font-weight: 400;
}

.sub-total span{
	margin-left: 6rem;
}

.grand-total {
	font-size: 1.8rem;
	font-weight: 600;
	color:#252525;
}

.grand-total span {
	color: #8dc740;
	margin-left: 3.7rem;
}

.discount-main-area button {
	border: none;
	font-size: 1.6rem;
	font-weight: 400;
	background: none;
	background: #8dc740;
	padding: 1rem 1rem;
	color: #fff;
	float: right;
	text-transform: uppercase;
	border:1px solid transparent;
	transition: .5s;
}

.discount-main-area button:hover{
	background: #fff;
	color:#8dc740;
	border-color:#8dc740;
}

.note {
	margin: 4rem 0;
}

.note span {
	font-size: 1.6rem;
	font-weight: 600;
	color: #252525;
	margin-right: 1rem;
}

.note p {
	font-size: 1.4rem;
	color: #a49d9d;
}

.mobile{
	display: none;
}

 

/************ checkout page css *************/

  /**********************************/
 /*****checkout accrodion css*******/
/**********************************/

.checkout-accordion {
	position: relative;
	color: #444;
	cursor: pointer;
	padding: 9px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
	font-weight: 600;
	color: #8dc740;
	background: #252525;
}
.checkout-accordion::after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	color: #252525;
	font-weight: 600;
	float: right;
	margin-left: 0px;
	width: 3rem;
	height: 3rem;
	background: #8dc740;
	color: #fff;
	line-height: 28px;
	text-align: center;
	bottom: 0;
	position: absolute;
	right: 0;
	transition: .5s;
}

.checkout-accordion.active::after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	position: absolute;
	bottom: -30px;
	right: 0;
	line-height: 24px;
	transition: .5s;
	transform: rotate(179deg);
}

.checkout-panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin: 2rem 0;
}

.checkout-accordion {
	color: #444;
	cursor: pointer;
	padding: 9px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	transition: 0.4s;
	font-weight: 600;
	color: #8dc740;
}

.checkout-accordion span {
	color: #fff;
	width: 3rem;
	height: 3rem;
	background: #8dc740;
	display: inline-block;
	line-height: 30px;
	text-align: center;
}

  /**********************************/
 /*******checkout methodcss*********/
/**********************************/

.checkout-accrodion-section {
	padding: 3rem 0;
}

.checkout-method {
	display: flex;
	justify-content: space-between;
}

.checkout-guest {}

.checkout-guest h1, .checkout-login h1{
	font-size: 1.6rem;
	color: #252525;
	font-weight: 600;
	padding-bottom: 1rem;
	border-bottom: 2px solid #cccccc;

}

.checkout-guest h2, .checkout-login h2 {
	color: #252525;
	font-size: 1.6rem;
	font-weight: 400;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.checkout-guest input[type="radio"] {
	margin: 0rem 1rem;
	margin-bottom: 1.5rem;
}

.checkout-guest p {
	font-size: 1.6rem;
	color: #717171;
	font-weight: 400;
}

.checkout-guest h3 {
	font-size: 1.6rem;
	color: #252525;
	font-weight: 400;
	margin: 1rem 0;
}

.checkout-guest ul{}

.checkout-guest ul li {
	font-size: 1.6rem;
	font-weight: 300;
	color: #6f6262;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.checkout-guest ul li span {
	width: .7rem;
	height: .7rem;
	display: inline-block;
	background: #707070;
	border-radius: 50%;
	margin-right: 1rem;
}

.guest_btn {
	padding: 1rem 3rem;
	color: #ffff;
	background: #8dc740;
	font-size: 1.6rem;
	border: 1px solid transparent;
	font-weight: 600;
	margin-top: 2rem;
	transition: .5s;
}

.checkout-login {
	 
}

.checkout-login h1{}

.checkout-login h2{}

.checkout-login h3{}

.checkout-login p {
	font-size: 1.6rem;
	color: #616161;
	margin-bottom: .5rem;
}

.checkout-login input[type="email"] {
	height: 3.5rem;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 1.6rem;
	padding: 0rem 1rem;
	margin-bottom: .5rem;
}
.checkout-login input[type="password"]{
	height: 3.5rem;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 1.6rem;
	padding: 0rem 1rem;
	margin-bottom: .5rem;
}

.checkout-label label {
	color: #252525;
	font-size: 1.6rem;
	font-weight: 400;

}

.forget_password {
	color: #8dc740;
	font-size: 1.6rem;
	font-weight: 300;
	transition: .3s;
}

.forget_password:hover{
	color:#252525;
}

.login_btn {
	padding: 1rem 4rem;
	color: #fff;
	background: #8dc740;
	border: 1px solid transparent;
	font-size: 1.6rem;
	text-transform: uppercase;
	float: right;
	margin-top: 1rem;
	font-weight: 600;
	transition: .5s;
}

.login_btn:hover, .guest_btn:hover {
	background: #fff;
	border-color: #8dc740;
	color: #8dc740;
}

  /**********************************/
 /*******checkout progress css******/
/**********************************/

.checkout-progess {}

.checkout-progess h1 {
	font-size: 1.8rem;
	font-weight: 600;
	color: #252525;
	padding: 1.3rem 0;
	border-bottom: 1px solid #cccccc;
}

.checkout-progess ul {
	margin-top: 2rem;
}

.checkout-progess ul li {
	padding: .3rem 0;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1rem;
}

.checkout-progess ul li a {
	font-size: 1.6rem;
	color: #616161;
	padding: .7rem 0;
	display: inline-block;
	transition: .3s;
}

 

.checkout-progess ul li a:hover{
	color:#8dc740;
}


  /**********************************/
 /********Billing address **********/
/**********************************/

.billing-address-button .form-control {
	padding: .7rem 1rem;
	font-size: 1.6rem;
	color: #495057;
	border: 1px solid #cccccc !important;
	border-radius: 0;
}

.billing-address-button .form-control:focus {
	border-color: #cccccc;
	outline: none;
	box-shadow: none;
}

.billing-address-button .form-check-input[type="checkbox"] {
	border-radius:0rem; 
}

.billing-address-button .form-check-input:checked {
	background-color: #8dc740;
	border-color: #8dc740;
}

.form-check-input:focus {
	border-color:  #8dc740;
	outline: none;
	box-shadow: none; 
}

.billing-checkout{}

.billing-checkout a {
	float: right;
	font-size: 1.6rem;
	color: #fff;
	background: #8dc740;
	padding: 1rem 3rem;
	font-weight: 600;
	border: 1px solid transparent;
	transition: .5s;
}

.billing-checkout a:hover{
	border-color: #8dc740;
	background: #fff;
	color:#8dc740;
}


  /**********************************/
 /******** checkout-method *********/
/**********************************/

.checkout-payment-method {
	margin-top: 3rem;
}

.checkout-payment-method ul {
	display: flex;
	 align-items: center; 
	flex-wrap: wrap;
}

.checkout-payment-method ul li {
	margin-right: 0.5rem;
}

.checkout-payment-method ul li:last-child{
	margin-right: 0rem;
}

.checkout-payment-method ul li h3, .checkout-pay-content h3{
	color: #343434;
	font-size: 1.8rem;
	font-weight: 400;
}

.checkout-payment-method ul li a{}

.checkout-pay-content{
	margin-top: 3rem;
}

.checkout-pay-content h3 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1rem;
}

.checkout-pay-content p {
	font-size: 1.6rem;
	font-weight: 300;
	color: #616161;
	width: 70%;
	margin-bottom: 2rem;
}



/*********contact-page**************/


  /**********************************/
 /******contact-map-address ********/
/**********************************/
.map-contact-section {
	padding: 3rem 0;
}

.contact-address, .contact-phone, .contact-web{
	margin-bottom: 1.5rem;
}

.contact-address ul{}

.contact-address ul li{}

.contact-address ul li a, .contact-phone ul li a, .contact-web ul li a{
	color: #343434;
	font-size: 1.8rem;
	font-weight: 400;
	transition: .3s;
}

.contact-address ul li a:hover, .contact-phone ul li a:hover, .contact-web ul li a:hover {
	color: #8dc740;
}

.contact-phone {}

.contact-web {}

.contact-image {
	margin-top: 2rem;
}

.contact-add-image {
	width: 100%;
	height: 100%;
	position: relative;
}

.contact-add-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contact-add-overly {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.23);
	height: 100%;
	width: 100%;
}

.contact-add-overly h4 {
	color: #fff;
	font-size: 3rem;
	font-weight: 600;
	text-transform: uppercase;
	width: 80%;
	margin-left: 1rem;
	margin-top: 1rem;
}

.leave-messages-form .form-control {
	padding: .5rem 1rem;
	font-size: 1.6rem;
	border: 1px solid #e5e5e5;
	border-radius: .25rem;
	color: #827676;
	margin-bottom: 1rem;
}

.leave-messages-form .form-control:focus {
	box-shadow: none;
	outline: none;
}
.leave-messages-label{
	font-size: 1.6rem;
	color:#919191;
	margin-bottom: 1rem;
}

.leave-messages-label-1{
	margin-bottom: 0rem;
}


/******************* About page css ************/

   /************************************/
  /********* history css **************/
 /************************************/

.history-section {
	padding-top:3rem;
}

.history-title {}

.history-title h1 {
	font-size: 2.4rem;
	color: #252525;
	font-weight: 600;
	text-transform: uppercase;
}

.history-title h1 span {
	font-weight: 700;
	color: #8dc740;
}

.history-content {
	margin-top: 2rem;
}

.history-content p, .history-topic-content p {
	color: #3e3e3e;
	font-size: 1.6rem;
	font-weight: 400;
}


   /************************************/
  /********* history Topic ************/
 /************************************/

.history-topic {
	margin-top: 2rem;
}

.history-topic ul {
	margin-left: 1rem;
}

.history-topic ul li {
	display: flex;
	color: #252525;
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.history-topic ul li:last-child{
	margin-bottom: 0rem;
}

.history-topic ul li span {
	margin-right: 1rem;
}

.history-topic-content {
	margin-top: 4rem;
	 
}

.history-topic-content p {
	margin-top: 2rem;
}

   /************************************/
  /******** history Image css *********/
 /************************************/

.history-topic-image {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 2rem;
}

.history-topic-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.history-topic-overly {
	position: absolute;
	top: 0;
	right: 0;
	clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 86% 100%, 42% 49%, 0 0);
	width: 100%;
	height: 100%;
	background: rgb(0,0,0, .5);
}

.history-topic-overly h3 {
	font-size: 3rem;
	font-weight: 700;
	color: #eee9e7;
	text-align: right;
	position: absolute;
	top: 34px;
	right: 14px;
}

.history-topic-overly h3 span {
	font-weight: 300;
}

.history-topic-overly-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0,.5);
	clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 68% 24%, 89% 0);
	bottom: 0;
	left: 0;
}
.history-topic-overly-2 h3 {
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 3rem;
	font-weight: 400;
	width: 46%;
	margin: 0 auto;
	margin-right: 2rem;
	color: #d4d3d3;
}
.history-topic-overly-2 h3 span{
	font-weight: 700;
	color:#fff;
}


   /************************************/
  /******** Team  css *****************/
 /************************************/
.team-section {
	padding: 3rem 0;
}

.team-title {
	text-align: center;
	padding: 4rem 0;
}

.team-title h1 {
	font-size: 3rem;
	color: #8dc740;
	font-weight: 700;
}

.team-title h3 {
	font-size: 1.6rem;
	color: #6e6e6e;
	font-weight: 400;
}

.team-description {
	border: 1px solid #cccccc;
}

.team-member-image {
	width: 100%;
	height: 100%;
}

.team-member-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-member-content {
	width: 90%;
	margin: 0 auto;
}

.team-member-content a{
	color: #252525;
	font-size: 2rem;
	font-weight: 400;
	margin-top: 2rem;
	display: block;
}

.team-member-content a:hover{
	color:#8dc740;
}

.team-member-content h3 {
	color: #252525;
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: 1rem;
}


.team-member-content p {
	font-size: 1.6rem;
	color: #252525;
	font-weight: 300;
	padding: 2rem 0;
	border-top: 1px solid #d4d3d3;
}